{% extends 'atm/base.html' %}
{% block content %}

<div class="header-bar">
    <h1>Withdraw</h1>
    <a href="{% url 'services' %}">&#8592; Back</a>
</div>


<div class="card-body">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="message"> {{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>


<script>
    $(document).ready(function() {
        setTimeout(function() {
            $(".message").fadeOut(2500);
        }, 2500);
    });
</script>
{% endblock content %}