{% extends 'atm/base.html' %}
{% block content %}

<div class="header-bar">
    <h1>Withdraw</h1>
    <a href="{% url 'services' %}">&#8592; Back</a>
</div>


<div class="card-body">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="message"> {{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>

    {% if bill_count %}
        <br>Cash Received<hr>
        <h2><b>Amount: {{withdraw_amount}}</b></h2>
        {% for bill in bill_count %}
            {% if not bill.count == 0 %}
                <div class="card">
                    <div class="container">
                    <h4><b>Amount: {{bill.amount}}</b></h4>
                    <p>Quantity: {{bill.count}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            $(".message").fadeOut(3000);
        }, 3000);
    });
</script>
{% endblock content %}