{% extends 'atm/base.html' %}
{% block content %}

<div class="header-bar">
    <h1>Withdraw</h1>
    <a href="{% url 'services' %}">&#8592; Back</a>
</div>


<div class="card-body">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="message"> {{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>

    {% for bill in bill_count %}
        <div class="card">
            <div class="container">
              <h4><b>Amount: {{bill.amount}}</b></h4>
              <p>Quantity: {{bill.count}}</p>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            $(".message").fadeOut(5000);
        }, 5000);
    });
</script>
{% endblock content %}